<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->
</head>
<body>

    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>

    <div>
        <div class="intro-text">
            <p>>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolorem voluptas 
            iusto doloribus tempore deleniti necessitatibus?
            Consequuntur, assumenda officiis blanditiis inventore
            animi natus veritatis eos consectetur odio earum dolore iste!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deleniti autem 
            perferendis nostrum adipisci perspiciatis neque praesentium non soluta nobis optio dicta ad quisquam eius debitis,
             aliquid eum quasi magnam cupiditate quod fugit. Repudiandae explicabo atque inventore illo quam? Totam?
            </p>
                <button>KNOW MORE</button>
        </div>
            <!-- <div class="intro-img"> -->
                <img src="homepg.jpg" alt="img">
            <!-- </div>       -->
    </div>



</body>
</html>