<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f4a0013b18.js" crossorigin="anonymous"></script>
    <title></title>
    
</head>
<body>
    <div class="d1">
        <div class="d2">
            <div class="d3">
                <div class="d4"><p>TEXT</p></div>
                <div class="d5"><p>SUMMARY</p></div>
            </div>
            <div class="d6">
                <textarea class="txt1"></textarea>
                <textarea class="txt2"></textarea>
            </div>
            <div class="d3">
                <div class="d7">
                    <button class="btn">IMPORT<i style="margin-left:5px;" class="fas fa-file-import"></i></button>
                    <button class="btn">COPY<i style="margin-left:5px;" class="fas fa-copy" aria-hidden="true"></i></button>
                </div>
                <div class="d8">
                    <button class="btn">PASTE<i style="margin-left:5px;" class="fas fa-paste"></i></button>
                    <button class="btn">EXPORT<i style="margin-left:5px;" class="fas fa-file-download"></i></button>
                </div>
            </div>
            <div class="d9">
                <button class="sum">SUMMARIZE</button>

            </div>

        </div>
    </div>
</body>
</html>