ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #585cbc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: black;

  }

  .intro-text{
      align-self: center;
      margin-left: 5px;
      margin-top: 30px;
      float: left;
      width: 30%;
      height: 100%;
      font-size: large;

  }
img{
    float:right;
    width: 60%;
  }

  button{
      text-decoration: none;
      background-color: #585cbc;
      color: white;
      border-radius: 30px;
      height: 30px;
  }

  button :hover{
      color: black;
      background-color: white;
  }